---
import Endereco from "@/components/Endereco.astro";
import Filiais from "@/components/Filiais.astro";
import Fotos from "@/components/Fotos.astro";
import Tabela from "@/components/Tabela.astro";
import Trajetoria from "@/components/Trajetoria.astro";
import MarqueUmaAula from "./MarqueUmaAula.astro";
---

<div class="flex w-full flex-col items-center">
  <section class="flex justify-center py-0 sm:py-8">
    <MarqueUmaAula />
  </section>
  <section class="mb-8 flex w-full max-w-6xl justify-center xl:w-4/6">
    <Fotos />
  </section>
  <section class="mb-8 flex w-full overflow-x-auto lg:justify-center xl:w-4/6">
    <Tabela />
  </section>
  <Trajetoria />
  <Endereco />
  <Filiais />
</div>
