---

---

<div class="flex w-full flex-col items-center">
  <section class="flex justify-center py-0 sm:py-8">
    <div
      class="container mb-0 flex flex-col items-center justify-center text-center sm:mb-4"
    >
      <div class="m-4 mx-auto flex flex-col">
        <h2 class="m-4 text-2xl font-extrabold lg:text-4xl">
          Conheça o Sistema Progressivo de Jiu-Jitsu
        </h2>
        <p class="text-muted-foreground text-balance lg:text-lg">
          Aulas para todas as idades e níveis de experiência. Aprenda defesa
          pessoal, jiu-jitsu educacional e esportivo.
        </p>
      </div>
      <a
        id="botao-agendamento"
        role="button"
        href="https://api.whatsapp.com/send/?phone=5551980267688&text=Ol%C3%A1%2C%20gostaria%20de%20marcar%20minha%20%20experimental%20grautuita&type=phone_number&app_absent=0"
        target="_blank"
        data-umami-event="botao-agendamento"
        data-umami-event-url="https://api.whatsapp.com/send/?phone=5551991265253&text&type=phone_number&app_absent=0"
        class="btn btn-primary mt-4 mb-4"
      >
        Marque uma aula experimental gratuita
      </a>
    </div>
    <div></div>
  </section>
  <section class="mb-8 flex w-full justify-center xl:w-4/6">
    <div
      class="rounded-box border-base-content/5 bg-base-100 w-full overflow-x-auto border"
    >
      <table class="table-zebra table min-w-4xl text-center">
        {/* head */}
        <thead class="bg-base-300">
          <tr>
            <th>Hora</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta NOGI</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
          </tr>
        </thead>
        <tbody>
          {/* 09h00 */}
          <tr>
            <th>09h00</th>
            <td></td>
            <td>
              Mini Kids <br />
              <span class="badge badge-ghost"
                ><div aria-label="status" class="status status-secondary">
                </div>4 a 7 anos</span
              ></td
            >
            <td></td>
            <td>
              Mini Kids
              <br />
              <span class="badge badge-ghost"
                ><div aria-label="status" class="status status-secondary">
                </div>4 a 7 anos</span
              >
            </td>
            <td></td>
            <td></td>
          </tr>
          {/* 11h00 */}
          <tr>
            <th>11h00</th>
            <td>
              <span class="underline">Iniciantes</span> /<br /><b>Graduados</b
              ></td
            >
            <td></td>
            <td>
              <span class="underline">Iniciantes</span> /<br /><b>Graduados</b
              ></td
            >
            <td></td>
            <td><b>Graduados</b></td>
            <td><span class="badge badge-outline">Sabadonze</span> </td>
          </tr>
          {/* 12h00 */}
          <tr>
            <th>12h00</th>
            <td></td>
            <td><b>Graduados</b></td>
            <td></td>
            <td><b>Graduados</b></td>
            <td></td>
            <td></td>
          </tr>
          {/* 16h30 */}
          <tr>
            <th>16h30</th>
            <td>
              Kids <br />
              <span class="badge bg-accent badge-ghost"
                ><div aria-label="status" class="status status-error"></div>8 a
                12 anos</span
              ></td
            >
            <td></td>
            <td>
              Kids <br />
              <span class="badge bg-accent badge-ghost"
                ><div aria-label="status" class="status status-error"></div>8 a
                12 anos</span
              ></td
            >
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {/* 17h00 */}
          <tr>
            <th>17h00</th>
            <td></td>
            <td class="underline"> Iniciantes</td>
            <td></td>
            <td class="underline"> Iniciantes</td>
            <td></td>
            <td></td>
          </tr>
          {/* 18h15 */}
          <tr>
            <th>18h15</th>
            <td></td>
            <td>
              Mini Kids
              <br />
              <span class="badge bg-accent badge-ghost"
                ><div aria-label="status" class="status status-secondary"></div>
                4 a 7 anos</span
              >
            </td>
            <td></td>
            <td>
              Mini Kids
              <br />
              <span class="badge bg-accent badge-ghost"
                ><div aria-label="status" class="status status-secondary"></div>
                4 a 7 anos</span
              >
            </td>
            <td></td>
            <td></td>
          </tr>
          {/* 18h30 */}
          <tr>
            <th>18h30</th>
            <td class="underline">Iniciantes</td>
            <td></td>
            <td class="underline">Iniciantes</td>
            <td></td>
            <td>Iniciantes</td>
            <td></td>
          </tr>
          {/* 19h00 */}
          <tr>
            <th>19h00</th>
            <td></td>
            <td>
              Adolescentes <br />
              <span class="badge bg-accent badge-ghost"
                ><div aria-label="status" class="status status-primary"></div>12
                a 16 anos</span
              ></td
            >
            <td></td>
            <td>
              Adolescentes <br />
              <span class="badge bg-accent badge-ghost"
                ><div aria-label="status" class="status status-primary"></div>12
                a 16 anos</span
              ></td
            >
            <td></td>
            <td></td>
          </tr>
          {/* 19h30 */}
          <tr>
            <th>19h30</th>
            <td><b>Graduados</b></td>
            <td></td>
            <td><b>Graduados</b></td>
            <td></td>
            <td><b>Graduados</b></td>
            <td></td>
          </tr>
          {/* 20h00 */}
          <tr>
            <th>20h00</th>
            <td></td>
            <td>
              <span class="underline">Iniciantes</span> /<br /><b>Graduados</b
              ></td
            >
            <td></td>
            <td>
              <span class="underline">Iniciantes</span> /<br /><b>Graduados</b
              ></td
            >
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="flex w-full justify-center lg:w-4/6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.1069427636658!2d-51.21689218712032!3d-30.033789630681063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95197972651a453b%3A0x1195870ed3ae9c84!2sEscola%20de%20Jiu-Jitsu%20Azambuja-Behring!5e0!3m2!1spt-BR!2sbr!4v1736881101041!5m2!1spt-BR!2sbr"
      class="h-96 w-full sm:rounded-xl sm:py-2 md:rounded-2xl"
      allowfullscreen={true}
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="Google maps mostrando o endereço Av. Osvaldo Aranha, 794 - Bom Fim, Porto Alegre - RS, 90035-191."
    ></iframe>
  </section>
</div>
