<section class="mb-8 flex w-full max-w-6xl justify-center lg:w-4/6">
  <div class="bg-base-100 border-base-300 collapse-arrow collapse border">
    <input
      id="colapsavel-filiais"
      type="checkbox"
      name="colapsavel-filiais"
      aria-label="Checkbox para abrir colapsável das escolas afiliadas"
    />
    <div class="collapse-title font-semibold">Conheça as escolas afiliadas</div>
    <div class="collapse-content text-md">
      <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1">
        <article class="prose">
          <h4 class="text-md font-semibold">
            Escola de Jiu-jítsu Azambuja Serra
          </h4>
          <p>
            Professor Adryan Carvalho<br />
            Rua Renania, 66, bairro centro, CEP 95150-000<br />
            Nova Petrópolis/RS<br />
            WhatsApp: 55 99675-9530
          </p>
        </article>

        <article class="prose">
          <h4 class="text-md font-semibold">
            Escola de jiu-jítsu Azambuja Lomba do Pinheiro
          </h4>
          <p>
            Professor Guilherme Rodrigues<br />
            Av. João de Oliveira Remião 3322 - parada 7 - Lomba do Pinheiro - Porto
            Alegre<br />
            WhatsApp: 51 99247-7012
          </p>
        </article>

        <article class="prose">
          <h4 class="text-md font-semibold">
            Escola de Jiu-jitsu Azambuja — Projeto de Extensão (IFSul Gravataí)
          </h4>
          <p>
            Professor Ramiro Barcos<br />
            R. Men de Sá, 800 - Bom Sucesso, Gravataí - RS, 94135-300<br />
            WhatsApp: 51 99233-8537
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
