---
import Logo from "@/components/Logo.astro";
---

<header class="my-5 flex max-w-7xl items-center px-5 lg:px-0">
  <Logo />
  <h1 class="ml-5 text-xl font-extrabold lg:text-3xl">
    Escola de Jiu-Jitsu Azambuja-Behring
  </h1>
</header>
