<div
  class="container mb-0 flex flex-col items-center justify-center text-center sm:mb-4"
>
  <div class="m-4 mx-auto flex flex-col">
    <h2 class="m-4 text-2xl font-extrabold lg:text-4xl">
      Conheça o Sistema Progressivo de Jiu-Jitsu
    </h2>
    <p class="text-muted-foreground text-balance lg:text-lg">
      Aulas para todas as idades e níveis de experiência. Aprenda defesa
      pessoal, jiu-jitsu educacional e esportivo.
    </p>
  </div>
  <a
    id="botao-agendamento"
    role="button"
    href="https://api.whatsapp.com/send/?phone=5551980267688&text=Ol%C3%A1%2C%20gostaria%20de%20marcar%20minha%20%20experimental%20grautuita&type=phone_number&app_absent=0"
    target="_blank"
    data-umami-event="botao-agendamento"
    data-umami-event-url="https://api.whatsapp.com/send/?phone=5551991265253&text&type=phone_number&app_absent=0"
    class="btn btn-primary mt-4 mb-4"
  >
    Marque uma aula experimental gratuita
  </a>
</div>
