---
import TimelineMiddleIcon from "./TimelineMiddleIcon.astro";

const timelineData = [
  {
    year: "1999",
    description: "Campeão do Chapecó Open do Globo Esporte de lutas casadas",
  },
  {
    year: "1999/2005",
    description:
      "7 vezes campeão em diferentes etapas do campeonato gaúcho da FJJ-RS e 8 vezes vice-campeão.",
  },
  {
    year: "2004",
    description: "Campeão do Winner Fight Show 2 (submission)",
  },
  {
    year: "2007",
    description: "Vice-campeão do campeonato gaúcho de grappling",
  },
  {
    year: "2009",
    description: "Campeão da Copa Geraldo Santana de Jiu-Jitsu",
  },
  {
    year: "2010",
    description:
      "Vice-Campeão Pan-Americano de Jiu-jitsu pela federação CBJJE com parceria da FBJJ-DF",
  },
  {
    year: "2010",
    description:
      "Vice-Campeão do Campeonato Mundial de Jiu-jitsu profissional pela federação CBJJE",
  },
  { year: "2011", description: "Vice-campeão da Copa Sogipa de Judô" },
  { year: "2012", description: "Campeão da Copa Venâncio Aires de Judô" },
  {
    year: "2017",
    description: "Vice-campeão do Floripa Open com e sem kimono",
  },
  {
    year: "2022",
    description: "Campeão da primeira etapa Copa Prime de Jiu-Jitsu",
  },
  {
    year: "2022",
    description: "Vice-Campeão da 2ª etapa Tríplice Coroa de Jiu-Jitsu",
  },
  {
    year: "2025",
    description:
      "Equipe (SBA) vice-campeã geral NO-GI na 1ª etapa Tríplice Coroa de Jiu-Jitsu",
  },
];
---

<ul class="timeline timeline-vertical m-2">
  {
    timelineData.map((item, index) => (
      <li>
        {index > 0 && <hr />}
        <div class="timeline-start">{item.year}</div>
        <div class="timeline-middle">
          <TimelineMiddleIcon />
        </div>
        <div class="timeline-end timeline-box">{item.description}</div>
        {index < timelineData.length - 1 && <hr />}
      </li>
    ))
  }
</ul>
