---
import Footer from "@/components/Footer";
import Header from "@/components/Header";
import Hero from "@/components/Hero";
import Testemunho from "@/components/Testemunho";
---

<div class="flex min-h-svh w-full flex-col items-center justify-center">
  <Header />
  <Hero />
  <Testemunho />
  <Footer />
</div>
