---
import "../styles/globals.css";
---

<!doctype html>
<!-- HTML5 -->
<html lang="pt-BR" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script
      defer
      is:inline
      src="https://umami-scsowcw0w80g88c0k04sgssg.letsgotutor.com/script.js"
      data-website-id="ab4e74c3-8ab0-48cc-9587-8ac16b91cf66"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Escola de Jiu-Jitsu Azambuja-Behring" />
    <title>Escola de Jiu-Jitsu Azambuja-Behring</title>
  </head>
  <body>
    <slot />
  </body>
</html>
