<!doctype html>
<!-- HTML5 -->
<html lang="pt-BR" data-theme="nord">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script
      defer
      src="https://umami-qgg48ocgcowsgog4scgg0kcc.letsgotutor.com/script.js"
      data-website-id="49baf096-ab56-41a8-8af4-e75cb277ad04"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="generator" content={Astro.generator} />
    <title>Escola de Jiu-Jitsu Azambuja-Behring</title>
  </head>
  <body>
    <slot />
  </body>
</html>
