<!doctype html>
<!-- HTML5 -->
<html lang="pt-BR" data-theme="nord">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script
      defer
      src="http://umami-s0s84o4wso0s8gwgkgos44cs.159.112.187.66.sslip.io/script.js"
      data-website-id="6838944f-7769-46cd-a9aa-d5eb3d931402"></script>
    <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
    <!-- Has no effect unless you have the previous meta tag -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="generator" content={Astro.generator} />
    <title>Escola de Jiu-Jitsu Azambuja-Behring</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
